<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>

 
  {% include nav.html %}

  
  <div class="post-content">

    <p class="section-label">
      <a href="/progress" style="color:  #1a56db;">← Progress</a>
    </p>

    <h1 class="hero-name" style="font-size: 2rem; margin-bottom: 0.5rem;">
      {{ page.title }}
    </h1>

    <p style="color: #6b6b6b; font-size: 14px; margin-bottom: 0.5rem;">
      {{ page.date | date: "%d %B %Y" }}
    </p>

    {% if page.tags %}
      <div class="project-tags" style="margin-bottom: 2rem;">
        {% for tag in page.tags %}
          <span class="project-tag">{{ tag }}</span>
        {% endfor %}
      </div>
    {% endif %}

    
    {{ content }}

  </div>

  {% include footer.html %}

</body>
</html>